{% extends "base.html" %}
{% load static %}
{% block title %}Najiya-Portfolio{% endblock %}
{% block body_class %}Portfolio-page{% endblock %}
{% block content %}



  

    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Portfolio</h2>
        <p>Take a look at some of the projects I’ve developed as a Python-Django Developer.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-product">Jobportal</li>
            <li data-filter=".filter-app">E-commerse</li>
           
          </ul><!-- End Portfolio Filters -->

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="{% static 'img/masonry-portfolio/E1.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>E-com</h4>
                <p>E-commerce web application</p>
                <a href="{% static 'img/masonry-portfolio/E2.png'' %}" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <img src="{% static 'img/masonry-portfolio/A2.png'' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>E-com</h4>
                <p>E-commerce web application</p>
                <a href="{% static 'img/masonry-portfolio/E4.png' %}" title="Product 1" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="{% static 'img/masonry-portfolio/E5.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>E-com</h4>
                <p>E-commerce web application</p>
                <a href="{% static 'img/masonry-portfolio/A1.png' %}" title="Branding 1" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="{% static 'img/masonry-portfolio/E3.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>E-com</h4>
                <p>E-commerce web application</p>
                <a href="{% static 'img/masonry-portfolio/A3.png' %}" title="App 2" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="{% static 'img/masonry-portfolio/E4.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>E-com</h4>
                <p>E-commerce web application</p>
                <a href="{% static 'img/masonry-portfolio/A5.png' %}" title="Product 2" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <img src="{% static 'img/masonry-portfolio/A1.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jobportal</h4>
                <p>Multi-user job portal platform</p>
                <a href="{% static 'img/masonry-portfolio/A7.png' %}" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <img src="{% static 'img/masonry-portfolio/A8.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jobportal</h4>
                <p>Multi-user job portal platform</p>
                <a href="{% static 'img/masonry-portfolio/A9.png' %}" title="App 3" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <img src="{% static 'img/masonry-portfolio/A10' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Product 3</h4>
                <p>Lorem ipsum, dolor sit</p>
                <a href="{% static 'img/masonry-portfolio/E1' %}" title="Product 3" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="{% static 'img/masonry-portfolio/E2.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>E-com</h4>
                <p>E-commerce web application</p>
                <a href="{% static 'img/masonry-portfolio/A2.png' %}" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <img src="{% static 'img/masonry-portfolio/A7.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jobportal</h4>
                <p>Multi-user job portal platform</p>
                <a href="{% static 'img/masonry-portfolio/A7.png' %}" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->
             <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <img src="{% static 'img/masonry-portfolio/A5.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>E-com</h4>
                <p>E-commerce web application</p>
                <a href="{% static 'img/masonry-portfolio/A5.png' %}" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->
             <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="{% static 'img/masonry-portfolio/masonry-portfolio-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>E-com</h4>
                <p>E-commerce web application</p>
                <a href="{% static 'img/masonry-portfolio/masonry-portfolio-1.jpg' %}" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->
             <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="{% static 'img/masonry-portfolio/masonry-portfolio-2.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>E-com</h4>
                <p>E-commerce web application</p>
                <a href="{% static 'img/masonry-portfolio/masonry-portfolio-2.jpg' %}" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->
             <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="{% static 'img/masonry-portfolio/masonry-portfolio-3.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>E-com</h4>
                <p>E-commerce web application</p>
                <a href="{% static 'img/masonry-portfolio/masonry-portfolio-3.jpg' %}" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->
             <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="{% static 'img/masonry-portfolio/masonry-portfolio-4.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>E-com</h4>
                <p>E-commerce web application</p>
                <a href="{% static 'img/masonry-portfolio/masonry-portfolio-4.jpg' %}" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->
             <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="{% static 'img/masonry-portfolio/masonry-portfolio-5.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>E-com</h4>
                <p>E-commerce web application</p>
                <a href="{% static 'img/masonry-portfolio/masonry-portfolio-5.jpg' %}" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->
             <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="{% static 'img/masonry-portfolio/masonry-portfolio-6.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>E-com</h4>
                <p>E-commerce web application</p>
                <a href="{% static 'img/masonry-portfolio/masonry-portfolio-6.jpg' %}" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->
             <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="{% static 'img/masonry-portfolio/masonry-portfolio-7.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>E-com</h4>
                <p>E-commerce web application</p>
                <a href="{% static 'img/masonry-portfolio/masonry-portfolio-7.jpg' %}" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->
             <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="{% static 'img/masonry-portfolio/masonry-portfolio-8.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>E-com</h4>
                <p>E-commerce web application</p>
                <a href="{% static 'img/masonry-portfolio/masonry-portfolio-8.jpg' %}" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->
             <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="{% static 'img/masonry-portfolio/masonry-portfolio-9.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>E-com</h4>
                <p>E-commerce web application</p>
                <a href="{% static 'img/masonry-portfolio/masonry-portfolio-9.jpg' %}" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->



            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <img src="{% static 'img/masonry-portfolio/j6.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jobportal</h4>
                <p>Multi-user job portal platform</p>
                <a href="{% static 'img/masonry-portfolio/j6.png' %}" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <img src="{% static 'img/masonry-portfolio/j5.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jobportal</h4>
                <p>Multi-user job portal platform</p>
                <a href="{% static 'img/masonry-portfolio/j5.png' %}" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <img src="{% static 'img/masonry-portfolio/j4.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jobportal</h4>
                <p>Multi-user job portal platform</p>
                <a href="{% static 'img/masonry-portfolio/j4.png' %}" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <img src="{% static 'img/masonry-portfolio/j3.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jobportal</h4>
                <p>Multi-user job portal platform</p>
                <a href="{% static 'img/masonry-portfolio/j3.png' %}" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <img src="{% static 'img/masonry-portfolio/j2.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jobportal</h4>
                <p>Multi-user job portal platform</p>
                <a href="{% static 'img/masonry-portfolio/j2.png' %}" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <img src="{% static 'img/masonry-portfolio/j1.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jobportal</h4>
                <p>Multi-user job portal platform</p>
                <a href="{% static 'img/masonry-portfolio/j1.png' %}" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </section><!-- /Portfolio Section -->
    {% endblock %}

  